#cvcupload {
	position: relative;
}

.tab-content {
	height: 80%;
}

.tab-pane {
	height: 100%;
	width: 100%;
	margin-top: .5em;
}

#cvcupload {
	text-align:center;
	font-size: 200%;
	border: 2px dashed #aaa;
	padding-top: 20%;
}

