#cvcupload {
	position: relative;
}

.tab-content {
	height: 80%;
}

.tab-pane {
	height: 100%;
	width: 100%;
	margin-top: .5em;
}

#cvcupload {
	text-align:center;
	font-size: 200%;
	border: 2px dashed #aaa;
	padding: 20% 0;
}

.cvccontainer {
	padding: 1rem;
}

.cvcupload-inline {
	text-align: center;
	border: 2px dashed #aaa;
	padding: 1rem 0;
}

.nav-item > .nav-link.active {
	background-color: white;
}

a.btn {
	color: gray;
}

#cvc-container .modal-header {
	color: white;
	padding-bottom: 0;
	border-bottom: 1px solid #ccc;
}

#cvc-container .modal-header>.nav-tabs {
	border-bottom: 0px;
}

#cvc-container .nav-tabs li a:not(.active) {
	background-color: #aaaaaa;
	color: black;
}

#cvc-container {
	min-height: 50%;
	max-height: 50%;
	height: 50%;
}

#cvc-container .modal-content {
	height: 100%;
}

#cvclist-toolbar {
	padding-bottom: 1px;
}

#cvclistcontent {
	padding: 2px;
	border: 1px solid #aaaaaa;
}

#cvclistcontent .row {
	padding: .5rem;
}

#cvc-container .modal-dialog .modal-body {
	padding-top: 0px;
}

.cvc-f-name {
	display: inline-block;
	width: 8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}

.cvc-f-name-font {
	color: black;
}

.cvccontext {
	box-shadow: 5px 5px 10px #333;
	min-width: 15rem;
}

.cvc-modal-body {
	overflow-y: auto;
}

.cvc-vertical-sep {
	font-size: large;
	color: black;
}

.cvc-file {
	cursor: pointer;
	color: #666666;
}

/* icon colors */
.cvc-file-pdf {
	color: darkred;
}

.cvc-file-word {
	color: darkblue;
}

.cvc-file-excel {
	color: darkgreen;
}

.cvc-file-powerpoint {
	color: orangered;
}

.cvc-file-code {
	color: darkorange;
}

.cvc-file-archive {
	color: gold;
}

.cvc-file-image {
	color: green;
}

.cvc-file-video {
	color: purple;
}

.cvc-file-audio {
	color: blueviolet;
}

.cvc-folder {
	color: deepskyblue;
}

.cvc-select-color {
	color: green;
}

.cvc-view-color {
	color: darkblue;
}

.cvc-copy-color {
	color: black;
}

.cvc-move-color {
	color: black;
}

.cvc-trash-color {
	color: darkred;
}

.cvc-selected {
	background-color: #ddd !important;
}

.cvc-file-csv {
	color: darkgreen;
}

.cvc-modal-modal {
	width: 100%;
	display: none;
	position: absolute;
	top: 30px;
}

.cvc-modal-modal-content {
	box-shadow: 5px 5px 10px #333;
}

.cvc-path-btns {
	display: inline-block;
}